* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.header {
  background: #0a3d62;
  padding: 15px 0;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://upload.wikimedia.org/wikipedia/commons/6/6b/KNU_Bishkek.jpg")
      center/cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #38ada9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.about {
  padding: 50px 0;
}

.cards {
  padding: 40px 0;
  background: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}

.card img {
  width: 250px;
  height: 250px;
}

.footer {
  background: #0a3d62;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

/* ===== Адаптив ===== */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 26px;
  }
}
